.card {
  box-shadow: none;    
  padding: 24px;
  border: 0px !important;
}

.card .card-content {  
  border-radius: 0 0 2px 2px;
  margin-bottom: 50px;
}

.comment-items{
  display: block;  
}

.comment-items button {       
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
}

.comment-items button span {     
  font-size: 2em;  
  vertical-align: middle;
}

@media (min-width: 992px){
  .left-column {
    padding-right: 6rem !important;
    border-right: 1px solid rgba(0,0,0,.125) !important;
  }
  .right-column {
    padding-left: 6rem !important;
    border-left: 1px solid rgba(0,0,0,.125) !important;
  }
}

